.homepage {
  font-family: "system-ui, sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 3rem;
  line-height: 6rem;
  display: block;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-container { 
  display: flex;
  flex-direction: column;
}

.input-label {
  line-height: 2em;
}

.input {}

.translate-button {}
