
.wrapper-boring {
  padding-top: 4rem;
  background-color: #333;
  color: white;
}

img.handshake {
  max-height: 3rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #222;
}

.blurb-image {
    width:300px !important;
    height:300px !important;
    object-fit:cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.blurb-paragraph {
  font-size: 1.5rem;
}

.card {
  border: none !important;
}

.card-body {
  background-color: #222;
}

.card-link {
  color: white;
}

footer > a {
  color: white;
}

a:hover {
  color: yellow;
}

.play-btn {
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 2rem;
}

.wrapper {
  background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 15s ease infinite;
  animation: rainbow 30s ease infinite;
  padding-top: 4rem;
  color: white;
  
  perspective: 360px;
  perspective-origin: 50% 50%;
}

@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

 .top-plane, .bottom-plane {
   z-index: -10;
	 width: 200%;
	 height: 130%;
	 position: absolute;
	 bottom: -30%;
	 left: -50%;
	 background-image: -webkit-linear-gradient(#a2cef4 2px, transparent 2px), -webkit-linear-gradient(left, #a2cef4 2px, transparent 2px);
	 background-size: 100px 100px, 100px 100px;
	 background-position: -1px -1px, -1px -1px;
	 transform: rotateX(85deg);
	 animation: planeMoveTop 2s infinite linear;
}
 .bottom-plane {
	 transform: rotateX(-85deg);
	 top: -30%;
	 animation: planeMoveBot 2s infinite linear;
}
 @keyframes planeMoveTop {
	 from {
		 background-position: 0px -100px, 0px 0px;
	}
	 to {
		 background-position: 0px 0px, 100px 0px;
	}
}
 @keyframes planeMoveBot {
	 from {
		 background-position: 0px 0px, 0px 0px;
	}
	 to {
		 background-position: 0px -100px, 100px 0px;
	}
}
 @media (max-height: 350px) {
	 .wrap {
		 perspective: 210px;
	}
}

textarea {
  font-size: 1.2rem !important;
}