body {
  background-color: #333;
  color: white;
  padding-top: 4rem;
}

img.handshake {
  max-height: 3rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #222;
}

.blurb-image {
    width:300px !important;
    height:300px !important;
    object-fit:cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.blurb-paragraph {
  font-size: 1.5rem;
}

.card {
  border: none !important;
}

.card-body {
  background-color: #222;
}

.card-link {
  color: white;
}

footer > a {
  color: white;
}

a:hover {
  color: yellow;
}

.play-btn {
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 2rem;
}


.rightTI {
  white-space: nowrap; 
  overflow: hidden;
  -webkit-animation: marquee 7s linear ;
  -moz-animation: marquee 7s  linear ;
  -o-animation: marquee 7s linear ;
  animation: marquee 7s  linear ;
}
@-webkit-keyframes marquee {
  0% {text-indent: 100%;}
  100% {text-indent: -100%;}
}

@-moz-keyframes marquee {
  0% {text-indent: 100%;}
  100% {text-indent: -100%;}
}

@-ms-keyframes marquee {
  0% {text-indent: 100%;}
  100% {text-indent: -100%;}
}

@-o-keyframes marquee {
  0% {text-indent: 100%;}
  100% {text-indent: -100%;}
}

@keyframes marquee {
  0% {text-indent: 100%;}
  100% {text-indent: -100%;}
}


